/* BASE */
html, body {
    margin: 0;
    padding: 0;
    background: transparent;
    height: 100%;
    width: 100%;
    user-select: none;
}

.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background: rgba(0, 0, 0, 0.5); /* тёмная */
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* BUTTONS */
button {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    border: none;
    padding: 8px;
    cursor: pointer;

    font-size: 16px;
    background-color: rgba(230,230,230,0.15); /* прозрачная светлая кнопка */
    color: white;

    transition: 
        transform 0.25s ease-out, 
        box-shadow 0.25s ease, 
        background-color 0.25s ease;
}

button:hover {
    background-color: rgba(255,255,255,0.25);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.4);
}

button:active {
    background-color: rgba(255,255,255,0.35);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
}

/* ICONS */
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    -webkit-user-drag: none;
}
